$gridColumns: 6 !default;
$orders: 10 !default;

$spacer: 1rem !default;
$spacers: (0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3));

.grid {
  display: grid;
  grid-template-columns: repeat($gridColumns, 1fr);
  grid-auto-rows: 1fr;
}

@each $size, $length in $spacers {
  .gap-#{$size} {
    grid-gap: $length;
  }
}

@for $size from 1 through $gridColumns {
  .col-#{$size} {
    grid-column-end: span $size;
  }
}

@for $size from 1 through $gridColumns {
  .row-#{$size} {
    grid-row-end: span $size;
  }
}

@for $size from 1 through $gridColumns {
  .col-start-#{$size} {
    grid-column-start: $size;
  }
}

@for $size from 1 through $gridColumns {
  .row-start-#{$size} {
    grid-row-start: $size;
  }
}

@for $order from 1 through $orders {
  .order-#{$order} {
    order: $order;
  }
}

.order-first {
  order: -999;
}

.order-last {
  order: 999;
}
