// Base

// Document

*, *::before, *::after {
  box-sizing: border-box;
}


// Typography

%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-weight: $headings-font-weight;
  color: $headings-color;
}

@each $heading, $size in $headings-font-sizes {
  #{$heading} {
    @extend %heading;
    font-size: $size;
  }
}


// Links

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}


// Lists

.list-unstyled {
  @include list-unstyled();
}
