.grid {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-auto-rows: 1fr;
}

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint($breakpoint, $breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);
    @each $size, $length in $spacers {
      .gap#{$infix}-#{$size} {
        grid-gap: $length;
      }
    }

    @for $size from 1 through $columns {
      .col#{$infix}-#{$size} {
        grid-column-end: span $size;
      }
    }

    @for $size from 1 through $columns {
      .row#{$infix}-#{$size} {
        grid-row-end: span $size;
      }
    }

    @for $size from 1 through $columns {
      .col-start#{$infix}-#{$size} {
        grid-column-start: $size;
      }
    }

    @for $size from 1 through $columns {
      .row-start#{$infix}-#{$size} {
        grid-row-start: $size;
      }
    }

    @for $order from 1 through $orders {
      .order#{$infix}-#{$order} {
        order: $order;
      }
    }

    .order#{$infix}-first {
      order: -999;
    }

    .order#{$infix}-last {
      order: 999;
    }
  }
}
