// Variables

// Grid

$grid-columns: 15 !default;
$grid-gap: 1rem;


// Spacing

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
) !default;


// Orders

$orders: 10 !default;


// Breakpoints

$breakpoints: (
  xl: 0,
  l: 991px,
  m: 767px,
  s: 575px
) !default;
