/**
 * Grid System v1.0 (https://glascode.github.io/grid-system)
 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

@media (max-width: 991px) {
  .block-l {
    display: block;
  }

  .inline-block-l {
    display: inline-block;
  }

  .inline-l {
    display: inline;
  }

  .flex-l {
    display: flex;
  }

  .inline-flex-l {
    display: inline-flex;
  }
}
@media (max-width: 767px) {
  .block-m {
    display: block;
  }

  .inline-block-m {
    display: inline-block;
  }

  .inline-m {
    display: inline;
  }

  .flex-m {
    display: flex;
  }

  .inline-flex-m {
    display: inline-flex;
  }
}
@media (max-width: 575px) {
  .block-s {
    display: block;
  }

  .inline-block-s {
    display: inline-block;
  }

  .inline-s {
    display: inline;
  }

  .flex-s {
    display: flex;
  }

  .inline-flex-s {
    display: inline-flex;
  }
}
.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.items-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justfy-evenly {
  justify-content: space-evenly;
}

@media (max-width: 991px) {
  .items-l-start {
    align-items: start;
  }

  .items-l-end {
    align-items: end;
  }

  .items-l-center {
    align-items: center;
  }

  .items-l-stretch {
    align-items: stretch;
  }

  .items-l-baseline {
    align-items: baseline;
  }

  .justify-l-start {
    justify-content: start;
  }

  .justify-l-end {
    justify-content: end;
  }

  .justify-l-center {
    justify-content: center;
  }

  .justify-l-between {
    justify-content: space-between;
  }

  .justify-l-around {
    justify-content: space-around;
  }

  .justfy-l-evenly {
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .items-m-start {
    align-items: start;
  }

  .items-m-end {
    align-items: end;
  }

  .items-m-center {
    align-items: center;
  }

  .items-m-stretch {
    align-items: stretch;
  }

  .items-m-baseline {
    align-items: baseline;
  }

  .justify-m-start {
    justify-content: start;
  }

  .justify-m-end {
    justify-content: end;
  }

  .justify-m-center {
    justify-content: center;
  }

  .justify-m-between {
    justify-content: space-between;
  }

  .justify-m-around {
    justify-content: space-around;
  }

  .justfy-m-evenly {
    justify-content: space-evenly;
  }
}
@media (max-width: 575px) {
  .items-s-start {
    align-items: start;
  }

  .items-s-end {
    align-items: end;
  }

  .items-s-center {
    align-items: center;
  }

  .items-s-stretch {
    align-items: stretch;
  }

  .items-s-baseline {
    align-items: baseline;
  }

  .justify-s-start {
    justify-content: start;
  }

  .justify-s-end {
    justify-content: end;
  }

  .justify-s-center {
    justify-content: center;
  }

  .justify-s-between {
    justify-content: space-between;
  }

  .justify-s-around {
    justify-content: space-around;
  }

  .justfy-s-evenly {
    justify-content: space-evenly;
  }
}
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-auto {
  margin-top: auto;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.ml-auto {
  margin-left: auto;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 3rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mr-auto {
  margin-right: auto;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-auto {
  margin-bottom: auto;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

@media (max-width: 991px) {
  .m-l-0 {
    margin: 0;
  }

  .m-l-1 {
    margin: 0.25rem;
  }

  .m-l-2 {
    margin: 0.5rem;
  }

  .m-l-3 {
    margin: 1rem;
  }

  .m-l-4 {
    margin: 1.5rem;
  }

  .m-l-5 {
    margin: 3rem;
  }

  .m-l-auto {
    margin: auto;
  }

  .p-l-0 {
    padding: 0;
  }

  .p-l-1 {
    padding: 0.25rem;
  }

  .p-l-2 {
    padding: 0.5rem;
  }

  .p-l-3 {
    padding: 1rem;
  }

  .p-l-4 {
    padding: 1.5rem;
  }

  .p-l-5 {
    padding: 3rem;
  }

  .mt-l-0 {
    margin-top: 0;
  }

  .mt-l-1 {
    margin-top: 0.25rem;
  }

  .mt-l-2 {
    margin-top: 0.5rem;
  }

  .mt-l-3 {
    margin-top: 1rem;
  }

  .mt-l-4 {
    margin-top: 1.5rem;
  }

  .mt-l-5 {
    margin-top: 3rem;
  }

  .mt-l-auto {
    margin-top: auto;
  }

  .pt-l-0 {
    padding-top: 0;
  }

  .pt-l-1 {
    padding-top: 0.25rem;
  }

  .pt-l-2 {
    padding-top: 0.5rem;
  }

  .pt-l-3 {
    padding-top: 1rem;
  }

  .pt-l-4 {
    padding-top: 1.5rem;
  }

  .pt-l-5 {
    padding-top: 3rem;
  }

  .ml-l-0 {
    margin-left: 0;
  }

  .ml-l-1 {
    margin-left: 0.25rem;
  }

  .ml-l-2 {
    margin-left: 0.5rem;
  }

  .ml-l-3 {
    margin-left: 1rem;
  }

  .ml-l-4 {
    margin-left: 1.5rem;
  }

  .ml-l-5 {
    margin-left: 3rem;
  }

  .ml-l-auto {
    margin-left: auto;
  }

  .pl-l-0 {
    padding-left: 0;
  }

  .pl-l-1 {
    padding-left: 0.25rem;
  }

  .pl-l-2 {
    padding-left: 0.5rem;
  }

  .pl-l-3 {
    padding-left: 1rem;
  }

  .pl-l-4 {
    padding-left: 1.5rem;
  }

  .pl-l-5 {
    padding-left: 3rem;
  }

  .mr-l-0 {
    margin-right: 0;
  }

  .mr-l-1 {
    margin-right: 0.25rem;
  }

  .mr-l-2 {
    margin-right: 0.5rem;
  }

  .mr-l-3 {
    margin-right: 1rem;
  }

  .mr-l-4 {
    margin-right: 1.5rem;
  }

  .mr-l-5 {
    margin-right: 3rem;
  }

  .mr-l-auto {
    margin-right: auto;
  }

  .pr-l-0 {
    padding-right: 0;
  }

  .pr-l-1 {
    padding-right: 0.25rem;
  }

  .pr-l-2 {
    padding-right: 0.5rem;
  }

  .pr-l-3 {
    padding-right: 1rem;
  }

  .pr-l-4 {
    padding-right: 1.5rem;
  }

  .pr-l-5 {
    padding-right: 3rem;
  }

  .mb-l-0 {
    margin-bottom: 0;
  }

  .mb-l-1 {
    margin-bottom: 0.25rem;
  }

  .mb-l-2 {
    margin-bottom: 0.5rem;
  }

  .mb-l-3 {
    margin-bottom: 1rem;
  }

  .mb-l-4 {
    margin-bottom: 1.5rem;
  }

  .mb-l-5 {
    margin-bottom: 3rem;
  }

  .mb-l-auto {
    margin-bottom: auto;
  }

  .pb-l-0 {
    padding-bottom: 0;
  }

  .pb-l-1 {
    padding-bottom: 0.25rem;
  }

  .pb-l-2 {
    padding-bottom: 0.5rem;
  }

  .pb-l-3 {
    padding-bottom: 1rem;
  }

  .pb-l-4 {
    padding-bottom: 1.5rem;
  }

  .pb-l-5 {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .m-m-0 {
    margin: 0;
  }

  .m-m-1 {
    margin: 0.25rem;
  }

  .m-m-2 {
    margin: 0.5rem;
  }

  .m-m-3 {
    margin: 1rem;
  }

  .m-m-4 {
    margin: 1.5rem;
  }

  .m-m-5 {
    margin: 3rem;
  }

  .m-m-auto {
    margin: auto;
  }

  .p-m-0 {
    padding: 0;
  }

  .p-m-1 {
    padding: 0.25rem;
  }

  .p-m-2 {
    padding: 0.5rem;
  }

  .p-m-3 {
    padding: 1rem;
  }

  .p-m-4 {
    padding: 1.5rem;
  }

  .p-m-5 {
    padding: 3rem;
  }

  .mt-m-0 {
    margin-top: 0;
  }

  .mt-m-1 {
    margin-top: 0.25rem;
  }

  .mt-m-2 {
    margin-top: 0.5rem;
  }

  .mt-m-3 {
    margin-top: 1rem;
  }

  .mt-m-4 {
    margin-top: 1.5rem;
  }

  .mt-m-5 {
    margin-top: 3rem;
  }

  .mt-m-auto {
    margin-top: auto;
  }

  .pt-m-0 {
    padding-top: 0;
  }

  .pt-m-1 {
    padding-top: 0.25rem;
  }

  .pt-m-2 {
    padding-top: 0.5rem;
  }

  .pt-m-3 {
    padding-top: 1rem;
  }

  .pt-m-4 {
    padding-top: 1.5rem;
  }

  .pt-m-5 {
    padding-top: 3rem;
  }

  .ml-m-0 {
    margin-left: 0;
  }

  .ml-m-1 {
    margin-left: 0.25rem;
  }

  .ml-m-2 {
    margin-left: 0.5rem;
  }

  .ml-m-3 {
    margin-left: 1rem;
  }

  .ml-m-4 {
    margin-left: 1.5rem;
  }

  .ml-m-5 {
    margin-left: 3rem;
  }

  .ml-m-auto {
    margin-left: auto;
  }

  .pl-m-0 {
    padding-left: 0;
  }

  .pl-m-1 {
    padding-left: 0.25rem;
  }

  .pl-m-2 {
    padding-left: 0.5rem;
  }

  .pl-m-3 {
    padding-left: 1rem;
  }

  .pl-m-4 {
    padding-left: 1.5rem;
  }

  .pl-m-5 {
    padding-left: 3rem;
  }

  .mr-m-0 {
    margin-right: 0;
  }

  .mr-m-1 {
    margin-right: 0.25rem;
  }

  .mr-m-2 {
    margin-right: 0.5rem;
  }

  .mr-m-3 {
    margin-right: 1rem;
  }

  .mr-m-4 {
    margin-right: 1.5rem;
  }

  .mr-m-5 {
    margin-right: 3rem;
  }

  .mr-m-auto {
    margin-right: auto;
  }

  .pr-m-0 {
    padding-right: 0;
  }

  .pr-m-1 {
    padding-right: 0.25rem;
  }

  .pr-m-2 {
    padding-right: 0.5rem;
  }

  .pr-m-3 {
    padding-right: 1rem;
  }

  .pr-m-4 {
    padding-right: 1.5rem;
  }

  .pr-m-5 {
    padding-right: 3rem;
  }

  .mb-m-0 {
    margin-bottom: 0;
  }

  .mb-m-1 {
    margin-bottom: 0.25rem;
  }

  .mb-m-2 {
    margin-bottom: 0.5rem;
  }

  .mb-m-3 {
    margin-bottom: 1rem;
  }

  .mb-m-4 {
    margin-bottom: 1.5rem;
  }

  .mb-m-5 {
    margin-bottom: 3rem;
  }

  .mb-m-auto {
    margin-bottom: auto;
  }

  .pb-m-0 {
    padding-bottom: 0;
  }

  .pb-m-1 {
    padding-bottom: 0.25rem;
  }

  .pb-m-2 {
    padding-bottom: 0.5rem;
  }

  .pb-m-3 {
    padding-bottom: 1rem;
  }

  .pb-m-4 {
    padding-bottom: 1.5rem;
  }

  .pb-m-5 {
    padding-bottom: 3rem;
  }
}
@media (max-width: 575px) {
  .m-s-0 {
    margin: 0;
  }

  .m-s-1 {
    margin: 0.25rem;
  }

  .m-s-2 {
    margin: 0.5rem;
  }

  .m-s-3 {
    margin: 1rem;
  }

  .m-s-4 {
    margin: 1.5rem;
  }

  .m-s-5 {
    margin: 3rem;
  }

  .m-s-auto {
    margin: auto;
  }

  .p-s-0 {
    padding: 0;
  }

  .p-s-1 {
    padding: 0.25rem;
  }

  .p-s-2 {
    padding: 0.5rem;
  }

  .p-s-3 {
    padding: 1rem;
  }

  .p-s-4 {
    padding: 1.5rem;
  }

  .p-s-5 {
    padding: 3rem;
  }

  .mt-s-0 {
    margin-top: 0;
  }

  .mt-s-1 {
    margin-top: 0.25rem;
  }

  .mt-s-2 {
    margin-top: 0.5rem;
  }

  .mt-s-3 {
    margin-top: 1rem;
  }

  .mt-s-4 {
    margin-top: 1.5rem;
  }

  .mt-s-5 {
    margin-top: 3rem;
  }

  .mt-s-auto {
    margin-top: auto;
  }

  .pt-s-0 {
    padding-top: 0;
  }

  .pt-s-1 {
    padding-top: 0.25rem;
  }

  .pt-s-2 {
    padding-top: 0.5rem;
  }

  .pt-s-3 {
    padding-top: 1rem;
  }

  .pt-s-4 {
    padding-top: 1.5rem;
  }

  .pt-s-5 {
    padding-top: 3rem;
  }

  .ml-s-0 {
    margin-left: 0;
  }

  .ml-s-1 {
    margin-left: 0.25rem;
  }

  .ml-s-2 {
    margin-left: 0.5rem;
  }

  .ml-s-3 {
    margin-left: 1rem;
  }

  .ml-s-4 {
    margin-left: 1.5rem;
  }

  .ml-s-5 {
    margin-left: 3rem;
  }

  .ml-s-auto {
    margin-left: auto;
  }

  .pl-s-0 {
    padding-left: 0;
  }

  .pl-s-1 {
    padding-left: 0.25rem;
  }

  .pl-s-2 {
    padding-left: 0.5rem;
  }

  .pl-s-3 {
    padding-left: 1rem;
  }

  .pl-s-4 {
    padding-left: 1.5rem;
  }

  .pl-s-5 {
    padding-left: 3rem;
  }

  .mr-s-0 {
    margin-right: 0;
  }

  .mr-s-1 {
    margin-right: 0.25rem;
  }

  .mr-s-2 {
    margin-right: 0.5rem;
  }

  .mr-s-3 {
    margin-right: 1rem;
  }

  .mr-s-4 {
    margin-right: 1.5rem;
  }

  .mr-s-5 {
    margin-right: 3rem;
  }

  .mr-s-auto {
    margin-right: auto;
  }

  .pr-s-0 {
    padding-right: 0;
  }

  .pr-s-1 {
    padding-right: 0.25rem;
  }

  .pr-s-2 {
    padding-right: 0.5rem;
  }

  .pr-s-3 {
    padding-right: 1rem;
  }

  .pr-s-4 {
    padding-right: 1.5rem;
  }

  .pr-s-5 {
    padding-right: 3rem;
  }

  .mb-s-0 {
    margin-bottom: 0;
  }

  .mb-s-1 {
    margin-bottom: 0.25rem;
  }

  .mb-s-2 {
    margin-bottom: 0.5rem;
  }

  .mb-s-3 {
    margin-bottom: 1rem;
  }

  .mb-s-4 {
    margin-bottom: 1.5rem;
  }

  .mb-s-5 {
    margin-bottom: 3rem;
  }

  .mb-s-auto {
    margin-bottom: auto;
  }

  .pb-s-0 {
    padding-bottom: 0;
  }

  .pb-s-1 {
    padding-bottom: 0.25rem;
  }

  .pb-s-2 {
    padding-bottom: 0.5rem;
  }

  .pb-s-3 {
    padding-bottom: 1rem;
  }

  .pb-s-4 {
    padding-bottom: 1.5rem;
  }

  .pb-s-5 {
    padding-bottom: 3rem;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: underline rgba(0, 0, 0, 0.3);
}
a:hover {
  color: #ff3b30;
  text-decoration: underline #ff3b30;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
}

.gap-0 {
  grid-gap: 0;
}

.gap-1 {
  grid-gap: 0.25rem;
}

.gap-2 {
  grid-gap: 0.5rem;
}

.gap-3 {
  grid-gap: 1rem;
}

.gap-4 {
  grid-gap: 1.5rem;
}

.gap-5 {
  grid-gap: 3rem;
}

.row {
  grid-column: 1/-1;
}

.span-1 {
  grid-column-end: span 1;
}

.span-2 {
  grid-column-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
}

.span-4 {
  grid-column-end: span 4;
}

.span-5 {
  grid-column-end: span 5;
}

.span-6 {
  grid-column-end: span 6;
}

.row-span-1 {
  grid-row-end: span 1;
}

.row-span-2 {
  grid-row-end: span 2;
}

.row-span-3 {
  grid-row-end: span 3;
}

.row-span-4 {
  grid-row-end: span 4;
}

.row-span-5 {
  grid-row-end: span 5;
}

.row-span-6 {
  grid-row-end: span 6;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.row-start-1 {
  grid-row-start: 1;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-3 {
  grid-row-start: 3;
}

.row-start-4 {
  grid-row-start: 4;
}

.row-start-5 {
  grid-row-start: 5;
}

.row-start-6 {
  grid-row-start: 6;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-first {
  order: -999;
}

.order-last {
  order: 999;
}

@media (max-width: 991px) {
  .gap-l-0 {
    grid-gap: 0;
  }

  .gap-l-1 {
    grid-gap: 0.25rem;
  }

  .gap-l-2 {
    grid-gap: 0.5rem;
  }

  .gap-l-3 {
    grid-gap: 1rem;
  }

  .gap-l-4 {
    grid-gap: 1.5rem;
  }

  .gap-l-5 {
    grid-gap: 3rem;
  }

  .row-l {
    grid-column: 1/-1;
  }

  .span-l-1 {
    grid-column-end: span 1;
  }

  .span-l-2 {
    grid-column-end: span 2;
  }

  .span-l-3 {
    grid-column-end: span 3;
  }

  .span-l-4 {
    grid-column-end: span 4;
  }

  .span-l-5 {
    grid-column-end: span 5;
  }

  .span-l-6 {
    grid-column-end: span 6;
  }

  .row-span-l-1 {
    grid-row-end: span 1;
  }

  .row-span-l-2 {
    grid-row-end: span 2;
  }

  .row-span-l-3 {
    grid-row-end: span 3;
  }

  .row-span-l-4 {
    grid-row-end: span 4;
  }

  .row-span-l-5 {
    grid-row-end: span 5;
  }

  .row-span-l-6 {
    grid-row-end: span 6;
  }

  .col-start-l-1 {
    grid-column-start: 1;
  }

  .col-start-l-2 {
    grid-column-start: 2;
  }

  .col-start-l-3 {
    grid-column-start: 3;
  }

  .col-start-l-4 {
    grid-column-start: 4;
  }

  .col-start-l-5 {
    grid-column-start: 5;
  }

  .col-start-l-6 {
    grid-column-start: 6;
  }

  .row-start-l-1 {
    grid-row-start: 1;
  }

  .row-start-l-2 {
    grid-row-start: 2;
  }

  .row-start-l-3 {
    grid-row-start: 3;
  }

  .row-start-l-4 {
    grid-row-start: 4;
  }

  .row-start-l-5 {
    grid-row-start: 5;
  }

  .row-start-l-6 {
    grid-row-start: 6;
  }

  .order-l-1 {
    order: 1;
  }

  .order-l-2 {
    order: 2;
  }

  .order-l-3 {
    order: 3;
  }

  .order-l-4 {
    order: 4;
  }

  .order-l-5 {
    order: 5;
  }

  .order-l-6 {
    order: 6;
  }

  .order-l-7 {
    order: 7;
  }

  .order-l-8 {
    order: 8;
  }

  .order-l-9 {
    order: 9;
  }

  .order-l-10 {
    order: 10;
  }

  .order-l-first {
    order: -999;
  }

  .order-l-last {
    order: 999;
  }
}
@media (max-width: 767px) {
  .gap-m-0 {
    grid-gap: 0;
  }

  .gap-m-1 {
    grid-gap: 0.25rem;
  }

  .gap-m-2 {
    grid-gap: 0.5rem;
  }

  .gap-m-3 {
    grid-gap: 1rem;
  }

  .gap-m-4 {
    grid-gap: 1.5rem;
  }

  .gap-m-5 {
    grid-gap: 3rem;
  }

  .row-m {
    grid-column: 1/-1;
  }

  .span-m-1 {
    grid-column-end: span 1;
  }

  .span-m-2 {
    grid-column-end: span 2;
  }

  .span-m-3 {
    grid-column-end: span 3;
  }

  .span-m-4 {
    grid-column-end: span 4;
  }

  .span-m-5 {
    grid-column-end: span 5;
  }

  .span-m-6 {
    grid-column-end: span 6;
  }

  .row-span-m-1 {
    grid-row-end: span 1;
  }

  .row-span-m-2 {
    grid-row-end: span 2;
  }

  .row-span-m-3 {
    grid-row-end: span 3;
  }

  .row-span-m-4 {
    grid-row-end: span 4;
  }

  .row-span-m-5 {
    grid-row-end: span 5;
  }

  .row-span-m-6 {
    grid-row-end: span 6;
  }

  .col-start-m-1 {
    grid-column-start: 1;
  }

  .col-start-m-2 {
    grid-column-start: 2;
  }

  .col-start-m-3 {
    grid-column-start: 3;
  }

  .col-start-m-4 {
    grid-column-start: 4;
  }

  .col-start-m-5 {
    grid-column-start: 5;
  }

  .col-start-m-6 {
    grid-column-start: 6;
  }

  .row-start-m-1 {
    grid-row-start: 1;
  }

  .row-start-m-2 {
    grid-row-start: 2;
  }

  .row-start-m-3 {
    grid-row-start: 3;
  }

  .row-start-m-4 {
    grid-row-start: 4;
  }

  .row-start-m-5 {
    grid-row-start: 5;
  }

  .row-start-m-6 {
    grid-row-start: 6;
  }

  .order-m-1 {
    order: 1;
  }

  .order-m-2 {
    order: 2;
  }

  .order-m-3 {
    order: 3;
  }

  .order-m-4 {
    order: 4;
  }

  .order-m-5 {
    order: 5;
  }

  .order-m-6 {
    order: 6;
  }

  .order-m-7 {
    order: 7;
  }

  .order-m-8 {
    order: 8;
  }

  .order-m-9 {
    order: 9;
  }

  .order-m-10 {
    order: 10;
  }

  .order-m-first {
    order: -999;
  }

  .order-m-last {
    order: 999;
  }
}
@media (max-width: 575px) {
  .gap-s-0 {
    grid-gap: 0;
  }

  .gap-s-1 {
    grid-gap: 0.25rem;
  }

  .gap-s-2 {
    grid-gap: 0.5rem;
  }

  .gap-s-3 {
    grid-gap: 1rem;
  }

  .gap-s-4 {
    grid-gap: 1.5rem;
  }

  .gap-s-5 {
    grid-gap: 3rem;
  }

  .row-s {
    grid-column: 1/-1;
  }

  .span-s-1 {
    grid-column-end: span 1;
  }

  .span-s-2 {
    grid-column-end: span 2;
  }

  .span-s-3 {
    grid-column-end: span 3;
  }

  .span-s-4 {
    grid-column-end: span 4;
  }

  .span-s-5 {
    grid-column-end: span 5;
  }

  .span-s-6 {
    grid-column-end: span 6;
  }

  .row-span-s-1 {
    grid-row-end: span 1;
  }

  .row-span-s-2 {
    grid-row-end: span 2;
  }

  .row-span-s-3 {
    grid-row-end: span 3;
  }

  .row-span-s-4 {
    grid-row-end: span 4;
  }

  .row-span-s-5 {
    grid-row-end: span 5;
  }

  .row-span-s-6 {
    grid-row-end: span 6;
  }

  .col-start-s-1 {
    grid-column-start: 1;
  }

  .col-start-s-2 {
    grid-column-start: 2;
  }

  .col-start-s-3 {
    grid-column-start: 3;
  }

  .col-start-s-4 {
    grid-column-start: 4;
  }

  .col-start-s-5 {
    grid-column-start: 5;
  }

  .col-start-s-6 {
    grid-column-start: 6;
  }

  .row-start-s-1 {
    grid-row-start: 1;
  }

  .row-start-s-2 {
    grid-row-start: 2;
  }

  .row-start-s-3 {
    grid-row-start: 3;
  }

  .row-start-s-4 {
    grid-row-start: 4;
  }

  .row-start-s-5 {
    grid-row-start: 5;
  }

  .row-start-s-6 {
    grid-row-start: 6;
  }

  .order-s-1 {
    order: 1;
  }

  .order-s-2 {
    order: 2;
  }

  .order-s-3 {
    order: 3;
  }

  .order-s-4 {
    order: 4;
  }

  .order-s-5 {
    order: 5;
  }

  .order-s-6 {
    order: 6;
  }

  .order-s-7 {
    order: 7;
  }

  .order-s-8 {
    order: 8;
  }

  .order-s-9 {
    order: 9;
  }

  .order-s-10 {
    order: 10;
  }

  .order-s-first {
    order: -999;
  }

  .order-s-last {
    order: 999;
  }
}

/*# sourceMappingURL=grid-system.css.map */
