// Docs
//
// Base styles

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: $foreground;
  background-color: $background;
  background-image: url("/images/dot.png");
  background-size: 50px 50px;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// General

.container {
  width: 80%;
  max-width: 900px;
  margin: auto;
}

section {
  margin-bottom: 2rem;
}

// Header

header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .logo {
    margin: auto;
    max-width: 16rem;

    svg {
      width: 100%;
      height: auto;
    }
  }

  p {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0 3rem;
    text-align: center;
  }
}

// Main

h2, h3 {
  margin: 0 0 .8rem;
  font-weight: 700;
  line-height: 1.2;

  > a {
    color: inherit;
    text-decoration: none !important;
    text-shadow: none;
    background: none;
    outline: none;

    &[href^="#"]:hover {
      color: $accent;
    }
  }
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

h3 {
  font-size: 1.75rem;
  letter-spacing: -.025em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline $accent;
  }
}

// Footer

footer {
  padding: 2rem 0 4rem;
  font-size: .9rem;

  p:last-child {
    text-align: right;
  }
}
