// Grid

.grid.demo {
  position: relative;
  grid-template-rows: 2rem;
  margin-bottom: 3rem;

  > * {
    padding: .3rem .5rem;
    font-size: .75rem;
    color: invert($foreground);
    background-color: invert($background);

    @media (min-width: 640px) {
      padding: .75rem 1rem;
      font-size: .9rem;
    }
  }

  > *:nth-child(1),
  > *:nth-child(2),
  > *:nth-child(3),
  > *:nth-child(4),
  > *:nth-child(5),
  > *:nth-child(6) {
    padding: 0;
    text-align: center;
    color: rgba($foreground, .3);
    background: none;
    border: 0;
  }

  .grid.guides {
    grid-gap: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1.5rem;
    grid-template-rows: minmax(1rem, 100rem);
    padding: 0;
    background: none;
    border: 0;
    opacity: .2;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }

  .grid.guides > * {
    margin-top: -1px;
    margin-bottom: -1px;
    grid-row: 1 / -1;
    background-color: transparent;
    border: 1px dashed $foreground;
  }
}
