// Docs
//
// Variables

// Colors

$blue: #0084ff !default;
$green: #28cd41 !default;
$orange: #ff9500 !default;
$pink: #ff2d55 !default;
$purple: #af52de !default;
$red: #ff3b30 !default;
$teal: #5ac8fa !default;
$yellow: #ffcc00 !default;

$white: #fff;
$gray-100: #fafafa;
$gray-200: #e6e6e6;
$gray-300: #9ea6ac;
$gray-400: #787b7f;
$gray-500: #4c5157;
$black: #000;

$accent: $blue;

$background: $white;
$foreground: $black;


// Components

$border-radius: .3rem;
$box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
