// Docs variables

// Colors

$blue: #007aff !default;
$green: #28cd41 !default;
$orange: #ff9500 !default;
$pink: #ff2d55 !default;
$purple: #af52de !default;
$red: #ff3b30 !default;
$teal: #5ac8fa !default;
$yellow: #ffcc00 !default;
