@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint($breakpoint, $breakpoints) {
    $breakpoint-infix: breakpoint-infix($breakpoint, $breakpoints);

    .items#{$breakpoint-infix}-start {
      align-items: start;
    }

    .items#{$breakpoint-infix}-end {
      align-items: end;
    }

    .items#{$breakpoint-infix}-center {
      align-items: center;
    }

    .items#{$breakpoint-infix}-stretch {
      align-items: stretch;
    }

    .items#{$breakpoint-infix}-baseline {
      align-items: baseline;
    }

    .justify#{$breakpoint-infix}-start {
      justify-content: start;
    }

    .justify#{$breakpoint-infix}-end {
      justify-content: end;
    }

    .justify#{$breakpoint-infix}-center {
      justify-content: center;
    }

    .justify#{$breakpoint-infix}-between {
      justify-content: space-between;
    }

    .justify#{$breakpoint-infix}-around {
      justify-content: space-around;
    }

    .justfy#{$breakpoint-infix}-evenly {
      justify-content: space-evenly;
    }

  }
}