// Spacing

$values: map-merge($spacers, (auto: auto));

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint($breakpoint) {
    $breakpoint-infix: breakpoint-infix($breakpoint);

    @each $side in map-keys($sides) {
      $side-infix: side-infix($side);
      $side-suffix: side-suffix($side);

      @each $size, $length in $values {
        .m#{$side-infix}#{$breakpoint-infix}-#{$size} {
          margin#{$side-suffix}: $length;
        }
      }

      @each $size, $length in $spacers {
        .p#{$side-infix}#{$breakpoint-infix}-#{$size} {
          padding#{$side-suffix}: $length;
        }
      }
    }



  }
}
