:root {
  --red: #f03009;
  --yellow: #ffe310;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

main, nav {
  max-width: 1300px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

section {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em;
}

h1 {
  font-size: 3rem;
  letter-spacing: -.04em;
}

h2 {
  font-size: 2rem;
  letter-spacing: -.01em;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.box, .grid.demo > * {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .15rem;
}

.docs-category h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.docs-category ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.docs-category ul li {
  margin-bottom: .5rem;
}
