*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 2rem 0 0;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main, footer {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

section {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.8rem;
  font-weight: 600;
  line-height: 1.2;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  display: block;
  color: inherit;
  text-decoration: none !important;
  text-shadow: none;
  background: none;
  outline: none;
}
h1 > a[href^="#"]:hover, h2 > a[href^="#"]:hover, h3 > a[href^="#"]:hover, h4 > a[href^="#"]:hover, h5 > a[href^="#"]:hover, h6 > a[href^="#"]:hover {
  color: #0084ff;
}
.grid > h1, .grid > h2, .grid > h3, .grid > h4, .grid > h5, .grid > h6 {
  margin: 0;
}
h1:not(:first-of-type), h2:not(:first-of-type), h3:not(:first-of-type), h4:not(:first-of-type), h5:not(:first-of-type), h6:not(:first-of-type) {
  margin-top: 0.5rem;
}

h1 {
  font-size: 3.3rem;
  letter-spacing: -0.04em;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -0.035em;
}

h3 {
  font-size: 2rem;
  letter-spacing: -0.03em;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: -0.02em;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #0084ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline #0084ff;
}

.grid.demo {
  position: relative;
  grid-template-rows: 2rem;
  margin-bottom: 3rem;
}
.grid.demo > * {
  padding: 0.75rem 1rem;
  color: #fff;
  background-color: #373737;
  border-radius: 0.4rem;
}
.grid.demo > *:nth-child(100n+1),
.grid.demo > *:nth-child(100n+2),
.grid.demo > *:nth-child(100n+3),
.grid.demo > *:nth-child(100n+4),
.grid.demo > *:nth-child(100n+5),
.grid.demo > *:nth-child(100n+6) {
  padding: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background: none;
  border: 0;
}
.grid.demo .grid.guides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1.5rem;
  grid-template-rows: minmax(1rem, 100rem);
  padding: 0;
  background: none;
  border: 0;
  opacity: 0.2;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.grid.demo .grid.guides > * {
  margin-top: -1px;
  margin-bottom: -1px;
  grid-row: 1/-1;
  background-color: transparent;
  border: 1px dashed #fff;
}

.grid.example > * {
  padding: 0.75rem 1rem;
  background-color: #373737;
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

footer {
  padding: 2rem 0 4rem;
  font-size: 0.9rem;
}
footer p:last-child {
  text-align: right;
}

pre.highlight {
  margin: 0 0 1rem;
  padding: 1rem;
  background-color: #252525;
}

code.highlighter-rouge {
  /* inline code */
  margin: 0;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #252525;
}

pre, code {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

pre {
  margin: 0;
  overflow: scroll;
  font-size: 0.9em;
}

/* Comment */
.highlight .c {
  color: #6a737d;
}

/* Error */
.highlight .err {
  color: #f8f8f0;
  background-color: #ff007f;
}

/* Keyword */
.highlight .k, .highlight .kn {
  color: #66d9ef;
  font-style: italic;
}

/* Operator */
.highlight .o {
  color: #f92672;
}

/* Comment.Multiline */
.highlight .cm {
  color: #808080;
  font-style: italic;
}

/* Comment.Preproc */
.highlight .cp {
  color: #24292e;
}

/* Comment.Single */
.highlight .c1 {
  color: #998;
  font-style: italic;
}

/* Comment.Special */
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}

/* Generic.Deleted */
.highlight .gd {
  color: #000;
  background-color: #fdd;
}

/* Generic.Deleted.Specific */
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}

/* Generic.Emph */
.highlight .ge {
  font-style: italic;
}

/* Generic.Error */
.highlight .gr {
  color: #a00;
}

/* Generic.Heading */
.highlight .gh {
  color: #999;
}

/* Generic.Inserted */
.highlight .gi {
  color: #000;
  background-color: #dfd;
}

/* Generic.Inserted.Specific */
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}

/* Generic.Output */
.highlight .go {
  color: #888;
}

/* Generic.Prompt */
.highlight .gp {
  color: #555;
}

/* Generic.Strong */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Subheading */
.highlight .gu {
  color: #aaa;
}

/* Generic.Traceback */
.highlight .gt {
  color: #a00;
}

/* Keyword.Constant */
.highlight .kc {
  color: #66d9ef;
  font-style: italic;
}

/* Keyword.Declaration */
.highlight .kd {
  color: #66d9ef;
  font-style: italic;
}

/* Keyword.Pseudo */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Reserved */
.highlight .kr {
  color: #66d9ef;
  font-style: italic;
}

/* Keyword.Type */
.highlight .kt {
  color: #66d9ef;
  font-style: italic;
}

/* Literal.Number */
.highlight .m {
  color: #099;
}

/* Literal.String */
.highlight .s {
  color: #5ac8fa;
}

.highlight .n {
  color: #fff;
  font-style: italic;
}

/* Name.Attribute */
.highlight .na {
  color: #000;
}

/* Name.Builtin */
.highlight .nb {
  color: #66d9ef;
}

/* Name.Class */
.highlight .nc {
  color: #a6e22e;
  text-decoration: underline;
}

/* Name.Constant */
.highlight .no {
  color: #008080;
}

/* Name.Entity */
.highlight .ni {
  color: #800080;
}

/* Name.Exception */
.highlight .ne {
  color: #a6e22e;
}

/* Name.Function */
.highlight .nf {
  color: #a6e22e;
}

/* Name.Namespace */
.highlight .nn {
  color: #a6e22e;
  text-decoration: underline;
}

/* Name.Tag */
.highlight .nt {
  color: #000;
}

/* Name.Variable */
.highlight .nv {
  color: #008080;
}

/* Operator.Word */
.highlight .ow {
  font-weight: bold;
}

/* Text.Whitespace */
.highlight .w {
  color: #bbb;
}

/* Literal.Number.Float */
.highlight .mf {
  color: #ae81ff;
}

/* Literal.Number.Hex */
.highlight .mh {
  color: #ae81ff;
}

/* Literal.Number.Integer */
.highlight .mi {
  color: #ae81ff;
}

/* Literal.Number.Oct */
.highlight .mo {
  color: #ae81ff;
}

/* Literal.String.Backtick */
.highlight .sb {
  color: #032f62;
}

/* Literal.String.Char */
.highlight .sc {
  color: #032f62;
}

/* Literal.String.Doc */
.highlight .sd {
  color: #032f62;
}

/* Literal.String.Double */
.highlight .s2 {
  color: #032f62;
}

/* Literal.String.Escape */
.highlight .se {
  color: #032f62;
}

/* Literal.String.Heredoc */
.highlight .sh {
  color: #032f62;
}

/* Literal.String.Interpol */
.highlight .si {
  color: #032f62;
}

/* Literal.String.Other */
.highlight .sx {
  color: #032f62;
}

/* Literal.String.Regex */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Single */
.highlight .s1 {
  color: #032f62;
}

/* Literal.String.Symbol */
.highlight .ss {
  color: #990073;
}

/* Name.Builtin.Pseudo */
.highlight .bp {
  color: #a9459a;
}

/* Name.Variable.Class */
.highlight .vc {
  color: #008080;
}

/* Name.Variable.Global */
.highlight .vg {
  color: #008080;
}

/* Name.Variable.Instance */
.highlight .vi {
  color: #008080;
}

/* Literal.Number.Integer.Long */
.highlight .il {
  color: #099;
}

/*# sourceMappingURL=docs.css.map */
