*, *::before, *::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-image: url("/matrix/images/dot.png");
  background-size: 50px 50px;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  width: 80%;
  max-width: 900px;
  margin: auto; }

section {
  margin-bottom: 2rem; }

header {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  header .logo {
    margin: auto;
    max-width: 16rem; }
    header .logo svg {
      width: 100%;
      height: auto; }
  header p {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0 3rem;
    text-align: center; }

h2, h3 {
  margin: 0 0 .8rem;
  font-weight: 700;
  line-height: 1.2; }
  h2 > a, h3 > a {
    color: inherit;
    text-decoration: none !important;
    text-shadow: none;
    background: none;
    outline: none; }
    h2 > a[href^="#"]:hover, h3 > a[href^="#"]:hover {
      color: #0084ff; }

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em; }
  h2:not(:first-child) {
    margin-top: 2rem; }

h3 {
  font-size: 1.75rem;
  letter-spacing: -.025em; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  color: #0084ff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline #0084ff; }

footer {
  padding: 2rem 0 4rem;
  font-size: .9rem; }
  footer p:last-child {
    text-align: right; }

.grid.demo {
  position: relative;
  grid-template-rows: 2rem;
  margin-bottom: 3rem; }
  .grid.demo > * {
    padding: .75rem 1rem;
    color: white;
    background-color: black; }
  .grid.demo > *:nth-child(1),
  .grid.demo > *:nth-child(2),
  .grid.demo > *:nth-child(3),
  .grid.demo > *:nth-child(4),
  .grid.demo > *:nth-child(5),
  .grid.demo > *:nth-child(6) {
    padding: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    background: none;
    border: 0; }
  .grid.demo .grid.guides {
    grid-gap: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1.5rem;
    grid-template-rows: minmax(1rem, 100rem);
    padding: 0;
    background: none;
    border: 0;
    opacity: .2;
    overflow: hidden;
    pointer-events: none;
    z-index: -1; }
  .grid.demo .grid.guides > * {
    margin-top: -1px;
    margin-bottom: -1px;
    grid-row: 1 / -1;
    background-color: transparent;
    border: 1px dashed #000; }

.grid.example > * {
  padding: .75rem 1rem;
  background-color: #d9d9d9;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); }

.flex {
  display: flex; }

.justify-between {
  justify-content: space-between; }

code {
  font-family: "IBM Plex Mono", Menlo, "DejaVu Sans Mono", monospace; }

code[class*="language-"],
pre[class*="language-"] {
  font-family: "IBM Plex Mono", Menlo, "DejaVu Sans Mono", monospace;
  font-size: .875rem;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  color: #3e3f4b;
  background: #fafafc;
  border-radius: 0.3rem; }

pre > code[class*="language-"] {
  font-size: 1em; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(0, 0, 0, 0.99); }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(0, 0, 0, 0.99); }

/* Code blocks */
pre[class*="language-"] {
  margin: 2rem 0;
  padding: 2rem;
  overflow: auto; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .2rem;
  border-radius: .2rem; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b6ad9a; }

.token.punctuation {
  color: #9ea6ac; }

.token.namespace {
  opacity: .7; }

.token.tag,
.token.operator,
.token.number {
  color: #787b7f; }

.token.property,
.token.function {
  color: #b29762; }

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #2d2006; }

code.language-javascript,
.token.attr-name {
  color: #787b7f; }

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #4c5157; }

.token.placeholder,
.token.variable {
  color: #93abdc; }

.token.deleted {
  text-decoration: line-through; }

.token.inserted {
  border-bottom: 1px dotted #2d2006;
  text-decoration: none; }

.token.italic {
  font-style: italic; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.important {
  color: #896724; }

.token.entity {
  cursor: help; }

pre > code.highlight {
  outline: .4em solid #896724;
  outline-offset: .4em; }

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #ece8de; }

.line-numbers-rows > span:before {
  color: #cdc4b1; }

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight {
  background: rgba(45, 32, 6, 0.2);
  background: -webkit-linear-gradient(left, rgba(45, 32, 6, 0.2) 70%, rgba(45, 32, 6, 0));
  background: linear-gradient(to right, rgba(45, 32, 6, 0.2) 70%, rgba(45, 32, 6, 0)); }
