*, *::before, *::after {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
}

.gap-0 {
  grid-gap: 0;
}

.gap-1 {
  grid-gap: 0.25rem;
}

.gap-2 {
  grid-gap: 0.5rem;
}

.gap-3 {
  grid-gap: 1rem;
}

.gap-4 {
  grid-gap: 1.5rem;
}

.gap-5 {
  grid-gap: 3rem;
}

.col-1 {
  grid-column-end: span 1;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column-end: span 4;
}

.col-5 {
  grid-column-end: span 5;
}

.col-6 {
  grid-column-end: span 6;
}

.row-1 {
  grid-row-end: span 1;
}

.row-2 {
  grid-row-end: span 2;
}

.row-3 {
  grid-row-end: span 3;
}

.row-4 {
  grid-row-end: span 4;
}

.row-5 {
  grid-row-end: span 5;
}

.row-6 {
  grid-row-end: span 6;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.row-start-1 {
  grid-row-start: 1;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-3 {
  grid-row-start: 3;
}

.row-start-4 {
  grid-row-start: 4;
}

.row-start-5 {
  grid-row-start: 5;
}

.row-start-6 {
  grid-row-start: 6;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-first {
  order: -999;
}

.order-last {
  order: 999;
}

@media (min-width: 576px) {
  .gap-s-0 {
    grid-gap: 0;
  }

  .gap-s-1 {
    grid-gap: 0.25rem;
  }

  .gap-s-2 {
    grid-gap: 0.5rem;
  }

  .gap-s-3 {
    grid-gap: 1rem;
  }

  .gap-s-4 {
    grid-gap: 1.5rem;
  }

  .gap-s-5 {
    grid-gap: 3rem;
  }

  .col-s-1 {
    grid-column-end: span 1;
  }

  .col-s-2 {
    grid-column-end: span 2;
  }

  .col-s-3 {
    grid-column-end: span 3;
  }

  .col-s-4 {
    grid-column-end: span 4;
  }

  .col-s-5 {
    grid-column-end: span 5;
  }

  .col-s-6 {
    grid-column-end: span 6;
  }

  .row-s-1 {
    grid-row-end: span 1;
  }

  .row-s-2 {
    grid-row-end: span 2;
  }

  .row-s-3 {
    grid-row-end: span 3;
  }

  .row-s-4 {
    grid-row-end: span 4;
  }

  .row-s-5 {
    grid-row-end: span 5;
  }

  .row-s-6 {
    grid-row-end: span 6;
  }

  .col-start-s-1 {
    grid-column-start: 1;
  }

  .col-start-s-2 {
    grid-column-start: 2;
  }

  .col-start-s-3 {
    grid-column-start: 3;
  }

  .col-start-s-4 {
    grid-column-start: 4;
  }

  .col-start-s-5 {
    grid-column-start: 5;
  }

  .col-start-s-6 {
    grid-column-start: 6;
  }

  .row-start-s-1 {
    grid-row-start: 1;
  }

  .row-start-s-2 {
    grid-row-start: 2;
  }

  .row-start-s-3 {
    grid-row-start: 3;
  }

  .row-start-s-4 {
    grid-row-start: 4;
  }

  .row-start-s-5 {
    grid-row-start: 5;
  }

  .row-start-s-6 {
    grid-row-start: 6;
  }

  .order-s-1 {
    order: 1;
  }

  .order-s-2 {
    order: 2;
  }

  .order-s-3 {
    order: 3;
  }

  .order-s-4 {
    order: 4;
  }

  .order-s-5 {
    order: 5;
  }

  .order-s-6 {
    order: 6;
  }

  .order-s-7 {
    order: 7;
  }

  .order-s-8 {
    order: 8;
  }

  .order-s-9 {
    order: 9;
  }

  .order-s-10 {
    order: 10;
  }

  .order-s-first {
    order: -999;
  }

  .order-s-last {
    order: 999;
  }
}
@media (min-width: 768px) {
  .gap-m-0 {
    grid-gap: 0;
  }

  .gap-m-1 {
    grid-gap: 0.25rem;
  }

  .gap-m-2 {
    grid-gap: 0.5rem;
  }

  .gap-m-3 {
    grid-gap: 1rem;
  }

  .gap-m-4 {
    grid-gap: 1.5rem;
  }

  .gap-m-5 {
    grid-gap: 3rem;
  }

  .col-m-1 {
    grid-column-end: span 1;
  }

  .col-m-2 {
    grid-column-end: span 2;
  }

  .col-m-3 {
    grid-column-end: span 3;
  }

  .col-m-4 {
    grid-column-end: span 4;
  }

  .col-m-5 {
    grid-column-end: span 5;
  }

  .col-m-6 {
    grid-column-end: span 6;
  }

  .row-m-1 {
    grid-row-end: span 1;
  }

  .row-m-2 {
    grid-row-end: span 2;
  }

  .row-m-3 {
    grid-row-end: span 3;
  }

  .row-m-4 {
    grid-row-end: span 4;
  }

  .row-m-5 {
    grid-row-end: span 5;
  }

  .row-m-6 {
    grid-row-end: span 6;
  }

  .col-start-m-1 {
    grid-column-start: 1;
  }

  .col-start-m-2 {
    grid-column-start: 2;
  }

  .col-start-m-3 {
    grid-column-start: 3;
  }

  .col-start-m-4 {
    grid-column-start: 4;
  }

  .col-start-m-5 {
    grid-column-start: 5;
  }

  .col-start-m-6 {
    grid-column-start: 6;
  }

  .row-start-m-1 {
    grid-row-start: 1;
  }

  .row-start-m-2 {
    grid-row-start: 2;
  }

  .row-start-m-3 {
    grid-row-start: 3;
  }

  .row-start-m-4 {
    grid-row-start: 4;
  }

  .row-start-m-5 {
    grid-row-start: 5;
  }

  .row-start-m-6 {
    grid-row-start: 6;
  }

  .order-m-1 {
    order: 1;
  }

  .order-m-2 {
    order: 2;
  }

  .order-m-3 {
    order: 3;
  }

  .order-m-4 {
    order: 4;
  }

  .order-m-5 {
    order: 5;
  }

  .order-m-6 {
    order: 6;
  }

  .order-m-7 {
    order: 7;
  }

  .order-m-8 {
    order: 8;
  }

  .order-m-9 {
    order: 9;
  }

  .order-m-10 {
    order: 10;
  }

  .order-m-first {
    order: -999;
  }

  .order-m-last {
    order: 999;
  }
}
@media (min-width: 992px) {
  .gap-l-0 {
    grid-gap: 0;
  }

  .gap-l-1 {
    grid-gap: 0.25rem;
  }

  .gap-l-2 {
    grid-gap: 0.5rem;
  }

  .gap-l-3 {
    grid-gap: 1rem;
  }

  .gap-l-4 {
    grid-gap: 1.5rem;
  }

  .gap-l-5 {
    grid-gap: 3rem;
  }

  .col-l-1 {
    grid-column-end: span 1;
  }

  .col-l-2 {
    grid-column-end: span 2;
  }

  .col-l-3 {
    grid-column-end: span 3;
  }

  .col-l-4 {
    grid-column-end: span 4;
  }

  .col-l-5 {
    grid-column-end: span 5;
  }

  .col-l-6 {
    grid-column-end: span 6;
  }

  .row-l-1 {
    grid-row-end: span 1;
  }

  .row-l-2 {
    grid-row-end: span 2;
  }

  .row-l-3 {
    grid-row-end: span 3;
  }

  .row-l-4 {
    grid-row-end: span 4;
  }

  .row-l-5 {
    grid-row-end: span 5;
  }

  .row-l-6 {
    grid-row-end: span 6;
  }

  .col-start-l-1 {
    grid-column-start: 1;
  }

  .col-start-l-2 {
    grid-column-start: 2;
  }

  .col-start-l-3 {
    grid-column-start: 3;
  }

  .col-start-l-4 {
    grid-column-start: 4;
  }

  .col-start-l-5 {
    grid-column-start: 5;
  }

  .col-start-l-6 {
    grid-column-start: 6;
  }

  .row-start-l-1 {
    grid-row-start: 1;
  }

  .row-start-l-2 {
    grid-row-start: 2;
  }

  .row-start-l-3 {
    grid-row-start: 3;
  }

  .row-start-l-4 {
    grid-row-start: 4;
  }

  .row-start-l-5 {
    grid-row-start: 5;
  }

  .row-start-l-6 {
    grid-row-start: 6;
  }

  .order-l-1 {
    order: 1;
  }

  .order-l-2 {
    order: 2;
  }

  .order-l-3 {
    order: 3;
  }

  .order-l-4 {
    order: 4;
  }

  .order-l-5 {
    order: 5;
  }

  .order-l-6 {
    order: 6;
  }

  .order-l-7 {
    order: 7;
  }

  .order-l-8 {
    order: 8;
  }

  .order-l-9 {
    order: 9;
  }

  .order-l-10 {
    order: 10;
  }

  .order-l-first {
    order: -999;
  }

  .order-l-last {
    order: 999;
  }
}

/*# sourceMappingURL=grid-system.css.map */
