/**
* Syntax highlighting styles
*/
pre.highlight {
    margin: 0;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f6f8fa;
    border-radius: 3px;
}

code.highlighter-rouge { /* inline code */
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

pre {
    margin: 0;
    overflow: scroll;
}

code {
    font-weight: normal;
    font-size: 85%;
    font-family: "Roboto Mono", monospace;
}

/* Comment */
.highlight .c {
    color: #6a737d;
}

/* Error */
.highlight .err {
    color: #f8f8f0;
    background-color: #ff007f;
}

/* Keyword */
.highlight .k, .highlight .kn {
    color: #66d9ef;
    font-style: italic;
}

/* Operator */
.highlight .o {
    color: #f92672;
}

/* Comment.Multiline */
.highlight .cm {
    color: #808080;
    font-style: italic;
}

/* Comment.Preproc */
.highlight .cp {
    color: #24292e;
}

/* Comment.Single */
.highlight .c1 {
    color: #998;
    font-style: italic;
}

/* Comment.Special */
.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
}

/* Generic.Deleted */
.highlight .gd {
    color: #000;
    background-color: #fdd;
}

/* Generic.Deleted.Specific */
.highlight .gd .x {
    color: #000;
    background-color: #faa;
}

/* Generic.Emph */
.highlight .ge {
    font-style: italic;
}

/* Generic.Error */
.highlight .gr {
    color: #a00;
}

/* Generic.Heading */
.highlight .gh {
    color: #999;
}

/* Generic.Inserted */
.highlight .gi {
    color: #000;
    background-color: #dfd;
}

/* Generic.Inserted.Specific */
.highlight .gi .x {
    color: #000;
    background-color: #afa;
}

/* Generic.Output */
.highlight .go {
    color: #888;
}

/* Generic.Prompt */
.highlight .gp {
    color: #555;
}

/* Generic.Strong */
.highlight .gs {
    font-weight: bold;
}

/* Generic.Subheading */
.highlight .gu {
    color: #aaa;
}

/* Generic.Traceback */
.highlight .gt {
    color: #a00;
}

/* Keyword.Constant */
.highlight .kc {
    color: #66d9ef;
    font-style: italic;
}

/* Keyword.Declaration */
.highlight .kd {
    color: #66d9ef;
    font-style: italic;
}

/* Keyword.Pseudo */
.highlight .kp {
    font-weight: bold;
}

/* Keyword.Reserved */
.highlight .kr {
    color: #66d9ef;
    font-style: italic;
}

/* Keyword.Type */
.highlight .kt {
    color: #66d9ef;
    font-style: italic;
}

/* Literal.Number */
.highlight .m {
    color: #099;
}

/* Literal.String */
.highlight .s {
    color: #032f62;
}

.highlight .n {
    color: #fff;
    font-style: italic;
}

/* Name.Attribute */
.highlight .na {
    color: #6f42c1;
}

/* Name.Builtin */
.highlight .nb {
    color: #66d9ef;
}

/* Name.Class */
.highlight .nc {
    color: #a6e22e;
    text-decoration: underline;
}

/* Name.Constant */
.highlight .no {
    color: #008080;
}

/* Name.Entity */
.highlight .ni {
    color: #800080;
}

/* Name.Exception */
.highlight .ne {
    color: #a6e22e;
}

/* Name.Function */
.highlight .nf {
    color: #a6e22e;
}

/* Name.Namespace */
.highlight .nn {
    color: #a6e22e;
    text-decoration: underline;
}

/* Name.Tag */
.highlight .nt {
    color: #22863a;
}

/* Name.Variable */
.highlight .nv {
    color: #008080;
}

/* Operator.Word */
.highlight .ow {
    font-weight: bold;
}

/* Text.Whitespace */
.highlight .w {
    color: #bbb;
}

/* Literal.Number.Float */
.highlight .mf {
    color: #ae81ff;
}

/* Literal.Number.Hex */
.highlight .mh {
    color: #ae81ff;
}

/* Literal.Number.Integer */
.highlight .mi {
    color: #ae81ff;
}

/* Literal.Number.Oct */
.highlight .mo {
    color: #ae81ff;
}

/* Literal.String.Backtick */
.highlight .sb {
    color: #032f62;
}

/* Literal.String.Char */
.highlight .sc {
    color: #032f62;
}

/* Literal.String.Doc */
.highlight .sd {
    color: #032f62;
}

/* Literal.String.Double */
.highlight .s2 {
    color: #032f62;
}

/* Literal.String.Escape */
.highlight .se {
    color: #032f62;
}

/* Literal.String.Heredoc */
.highlight .sh {
    color: #032f62;
}

/* Literal.String.Interpol */
.highlight .si {
    color: #032f62;
}

/* Literal.String.Other */
.highlight .sx {
    color: #032f62;
}

/* Literal.String.Regex */
.highlight .sr {
    color: #009926;
}

/* Literal.String.Single */
.highlight .s1 {
    color: #032f62;
}

/* Literal.String.Symbol */
.highlight .ss {
    color: #990073;
}

/* Name.Builtin.Pseudo */
.highlight .bp {
    color: #a9459a;
}

/* Name.Variable.Class */
.highlight .vc {
    color: #008080;
}

/* Name.Variable.Global */
.highlight .vg {
    color: #008080;
}

/* Name.Variable.Instance */
.highlight .vi {
    color: #008080;
}

/* Literal.Number.Integer.Long */
.highlight .il {
    color: #099;
}
