.grid {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-auto-rows: 1fr;
}

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint($breakpoint, $breakpoints) {
    $breakpoint-prefix: breakpoint-infix($breakpoint, $breakpoints);

    @each $size, $length in $spacers {
      .gap#{$breakpoint-prefix}-#{$size} {
        grid-gap: $length;
      }
    }

    .row#{$breakpoint-prefix} {
      grid-column: 1 / -1;
    }

    @for $size from 1 through $columns {
      .span#{$breakpoint-prefix}-#{$size} {
        grid-column-end: span $size;
      }
    }

    @for $size from 1 through $columns {
      .row-span#{$breakpoint-prefix}-#{$size} {
        grid-row-end: span $size;
      }
    }

    @for $size from 1 through $columns {
      .col-start#{$breakpoint-prefix}-#{$size} {
        grid-column-start: $size;
      }
    }

    @for $size from 1 through $columns {
      .row-start#{$breakpoint-prefix}-#{$size} {
        grid-row-start: $size;
      }
    }

    @for $order from 1 through $orders {
      .order#{$breakpoint-prefix}-#{$order} {
        order: $order;
      }
    }

    .order#{$breakpoint-prefix}-first {
      order: -999;
    }

    .order#{$breakpoint-prefix}-last {
      order: 999;
    }
  }
}
