.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.contents {
  display: contents;
}

@each $breakpoint in map-keys($breakpoints) {
  @include media($breakpoint, $breakpoints) {
    $prefix: prefix($breakpoint, $breakpoints);

    @for $column from 1 through $columns {
      .#{$prefix}columns-#{$column} {
        grid-template-columns: repeat($column, 1fr);
      }
    }

    @for $column from 1 through $columns {
      [class*='columns-#{$column}'].columns-#{$column}.#{$prefix}max-content-first {
        grid-template-columns: max-content-first($column);
      }
    }

    @each $size, $length in $spacings {
      .#{$prefix}gap-#{$size} {
        grid-gap: $length;
      }

      .#{$prefix}gapx-#{$size} {
        grid-column-gap: $length;
      }

      .#{$prefix}gapy-#{$size} {
        grid-row-gap: $length;
      }
    }

    // Columns control

    @for $size from 1 through $columns {
      .#{$prefix}spanx-#{$size} {
        grid-column: auto / span $size;
      }
    }

    @for $start from 1 through $columns {
      @for $end from $start through $columns {
        .#{$prefix}spanx-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }

      .#{$prefix}spanx-#{$start}\.\. {
        grid-column: #{$start} / -1;
      }
    }

    @for $start from 1 through $columns {
      @for $span from 1 through $columns - $start {
        .#{$prefix}spanx-#{$start}\+#{$span} {
          grid-column: #{$start} / span $span;
        }
      }
    }

    .#{$prefix}spanx-row {
      grid-column: 1 / -1;
    }

    // Rows control

    @for $size from 1 through $columns {
      .#{$prefix}spany-#{$size} {
        grid-row-end: span $size;
      }
    }

    .#{$prefix}col {
      grid-row: 1 / -1;
    }

    // Order control

    .#{$prefix}order-first {
      order: -9999;
    }

    .#{$prefix}order-last {
      order: 9999;
    }

    .#{$prefix}order-none {
      order: 0;
    }

    @for $order from 1 through $orders {
      .#{$prefix}order-#{$order} {
        order: $order;
      }
    }
  }
}
