// Variables

// Grid

$columns: 15 !default;


// Spacing

$spacing: 1rem !default;
$spacings: (
  0: 0,
  1: ($spacing * .25),
  2: ($spacing * .5),
  3: ($spacing * .75),
  4: $spacing,
  5: ($spacing * 1.25),
  6: ($spacing * 1.5),
  8: ($spacing * 2),
  10: ($spacing * 2.5),
  12: ($spacing * 3),
  16: ($spacing * 4),
  20: ($spacing * 5),
) !default;


// Breakpoints

$breakpoints: (
  all: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
) !default;


// Orders

$orders: $columns !default;
